:root{
    --font-family-base: cera-round-pro, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    --font-family-serif: fa-livory, "Georgia", "Times New Roman", "Times", serif;
    --font-family-mono: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
}